/* .main__container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.main__app__container {
    height: calc(100vh - 4rem);
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-areas: "area1 area1 area2 area2 area2 area2 area2 area2 area2 area2 area2 area2";

    .sidebar__container {
        grid-area: area1;
    }
    
    
    .main__content {
        grid-area: area2;
    }
    
} */



/* 
.main__container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.main_app_container {
    height: calc(100vh - 4rem);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: "area1 area1 area2 area2 area2 area2 area2 area2 area2 area2 area2 area2";

    .sidebar__container {
        grid-area: area1;
    }
    
    .main__content {
        grid-area: area2;
        width: 100%;
        overflow-x: auto; 
        height: 100%; 
        white-space: nowrap; 
    }
} 

.display_block {
    display: block;
    height: calc(100vh - 4rem);
    width: 100%;
} */




 .main__container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.main_app_container {
    height: calc(100vh - 4rem);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: "area1 area1 area2 area2 area2 area2 area2 area2 area2 area2 area2 area2";

    .sidebar__container {
        grid-area: area1;
    }
    
    .main__content {
        grid-area: area2;
        overflow-x: auto; 
        height: 100%; 
        white-space: nowrap; 
    }
}  